header, footer, figure{
	display: none;
}

table{
	width: 800px;

	white-space: nowrap;

	margin: auto;
}
caption{
	font-size: 40px;

	margin: 25px 0 10px 0;
}
caption, th{
	font-family: rye, cursive;
}
th{
	height: 25px;

	border: 1px solid #000;
	box-shadow: inset 2px 2px 9px 2px #000;
}
th, td{
	font-size: 18px;

    padding: 3px;
	border-radius: 5px;
}
td{
	font-family: cabin sketch, cursive;

	border: 1px solid #4d4d4d;
	box-shadow: inset 1px 1px 6px 2px #4d4d4d;
}
table:nth-child(2) tbody th:nth-child(2), tfoot table th:first-child{
    text-align: left;
}
table:nth-child(2) tbody th:nth-child(2){
	padding-left: 10px;
}
tr:nth-child(5) th:nth-child(4){
	width: 150px;

	padding: 3px 5px;
}
table:nth-child(2) tbody tr:nth-child(1) th:nth-child(1){
	animation: move1 5s;
}
table:nth-child(2) tbody tr:nth-child(1) th:nth-child(2){
	animation: move2 5s;
}
table:nth-child(2) tbody tr:nth-child(1) td{
	animation: move3 5s;
}
table:nth-child(2) tbody tr:nth-child(2) th:nth-child(1){
	animation: move4 5s;
}
table:nth-child(2) tbody tr:nth-child(2) th:nth-child(2){
	animation: move5 5s;
}
table:nth-child(2) tbody tr:nth-child(2) td{
	animation: move6 5s;
}
table:nth-child(2) tbody tr:nth-child(3) th:nth-child(1){
	animation: move7 5s;
}
table:nth-child(2) tbody tr:nth-child(3) th:nth-child(2){
	animation: move8 5s;
}
table:nth-child(2) tbody tr:nth-child(3) td{
	animation: move9 5s;
}
table:nth-child(2) tbody tr:nth-child(4) th:nth-child(1){
	animation: move10 5s;
}
table:nth-child(2) tbody tr:nth-child(4) th:nth-child(2){
	animation: move11 5s;
}
table:nth-child(2) tbody tr:nth-child(4) td{
	animation: move12 5s;
}
table:nth-child(2) tbody tr:nth-child(5) th:nth-child(1){
	animation: move13 5s;
}
table:nth-child(2) tbody tr:nth-child(5) th:nth-child(2){
	animation: move14 5s;
}
table:nth-child(2) tbody tr:nth-child(5) td:nth-child(3){
	animation: move15 5s;
}
table:nth-child(2) tbody tr:nth-child(5) th:nth-child(4){
	animation: move16 5s;
}
table:nth-child(2) tbody tr:nth-child(5) td:nth-child(5){
	animation: move17 5s;
}
table:nth-child(2) tbody tr:nth-child(6) th:nth-child(1){
	animation: move18 5s;
}
table:nth-child(2) tbody tr:nth-child(6) th:nth-child(2){
	animation: move19 5s;
}
table:nth-child(2) tbody tr:nth-child(6) td{
	animation: move20 5s;
}
table:nth-child(2) tbody tr:nth-child(7) th:nth-child(1){
	animation: move21 5s;
}
table:nth-child(2) tbody tr:nth-child(7) th:nth-child(2){
	animation: move22 5s;
}
table:nth-child(2) tbody tr:nth-child(7) td{
	animation: move23 5s;
}
table:nth-child(2) tbody tr:nth-child(8) th:nth-child(1){
	animation: move24 5s;
}
table:nth-child(2) tbody tr:nth-child(8) th:nth-child(2){
	animation: move25 5s;
}
table:nth-child(2) tbody tr:nth-child(8) td{
	animation: move26 5s;
}
table:nth-child(2) tbody tr:nth-child(9) th:nth-child(1){
	animation: move27 5s;
}
table:nth-child(2) tbody tr:nth-child(9) th:nth-child(2){
	animation: move28 5s;
}
table:nth-child(2) tbody tr:nth-child(9) td{
	animation: move29 5s;
}
table:nth-child(2) tbody tr:nth-child(10) th:nth-child(1){
	animation: move30 5s;
}
table:nth-child(2) tbody tr:nth-child(10) th:nth-child(2){
	animation: move31 5s;
}
table:nth-child(2) tbody tr:nth-child(10) td{
	animation: move32 5s;
}
table:nth-child(2) tbody tr:nth-child(11) th:nth-child(1){
	animation: move33 5s;
}
table:nth-child(2) tbody tr:nth-child(11) th:nth-child(2){
	animation: move34 5s;
}
table:nth-child(2) tbody tr:nth-child(11) td{
	animation: move35 5s;
}
tfoot, .tfoot{
	color: inherit;

	border: none;
    box-shadow: none;
}
tfoot table{
	width: 100%;
}
tfoot table th, tfoot table td{
	width: 20%;

	text-align: center;

	padding: 3px 8px;
}
tfoot tr:nth-child(1) th:nth-child(1){
	animation: move36 5s;
}
tfoot tr:nth-child(1) th:nth-child(2){
	animation: move37 5s;
}
tfoot tr:nth-child(1) th:nth-child(3){
	animation: move38 5s;
}
tfoot tr:nth-child(1) th:nth-child(4){
	animation: move39 5s;
}
tfoot tr:nth-child(1) th:nth-child(5){
	animation: move40 5s;
}
tfoot tr:nth-child(2) th:nth-child(1){
	animation: move41 5s;
}
tfoot tr:nth-child(2) td:nth-child(2){
	animation: move42 5s;
}
tfoot tr:nth-child(2) td:nth-child(3){
	animation: move43 5s;
}
tfoot tr:nth-child(2) td:nth-child(4){
	animation: move44 5s;
}
tfoot tr:nth-child(2) td:nth-child(5){
	animation: move45 5s;
}
tfoot tr:nth-child(3) th:nth-child(1){
	animation: move46 5s;
}
tfoot tr:nth-child(3) td:nth-child(2){
	animation: move47 5s;
}
tfoot tr:nth-child(3) td:nth-child(3){
	animation: move48 5s;
}
tfoot tr:nth-child(3) td:nth-child(4){
	animation: move49 5s;
}
tfoot tr:nth-child(3) td:nth-child(5){
	animation: move50 5s;
}
tfoot tr:nth-child(4) th:nth-child(1){
	animation: move51 5s;
}
tfoot tr:nth-child(4) td:nth-child(2){
	animation: move52 5s;
}
tfoot tr:nth-child(4) td:nth-child(3){
	animation: move53 5s;
}
tfoot tr:nth-child(4) td:nth-child(4){
	animation: move54 5s;
}
tfoot tr:nth-child(4) td:nth-child(5){
	animation: move55 5s;
}

a, td{
	color: #000;
}

@keyframes move1{
	0%{
		transform: translate(-260px, 450px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move2{
	0%{
		transform: translate(600px, 510px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move3{
	0%{
		transform: translate(-580px, -80px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move4{
	0%{
		transform: translate(1000px, 180px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move5{
	0%{
		transform: translate(700px, 280px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move6{
	0%{
		transform: translate(-300px, 500px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move7{
	0%{
		transform: translate(900px, -100px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move8{
	0%{
		transform: translate(-300px, -150px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move9{
	0%{
		transform: translate(-600px, 430px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move10{
	0%{
		transform: translate(520px, 430px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move11{
	0%{
		transform: translate(230px, 380px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move12{
	0%{
		transform: translate(-570px, 250px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move13{
	0%{
		transform: translate(-200px, 400px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move14{
	0%{
		transform: translate(200px, 410px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move15{
	0%{
		transform: translate(-580px, 410px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move16{
	0%{
		transform: translate(-650px, 280px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move17{
	0%{
		transform: translate(-850px, 130px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move18{
	0%{
		transform: translate(900px, 280px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move19{
	0%{
		transform: translate(-100px, 330px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move20{
	0%{
		transform: translate(270px, 330px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move21{
	0%{
		transform: translate(50px, -200px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move22{
	0%{
		transform: translate(700px, -160px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move23{
	0%{
		transform: translate(-200px, 330px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move24{
	0%{
		transform: translate(1000px, -100px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move25{
	0%{
		transform: translate(350px, -250px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move26{
	0%{
		transform: translate(-580px, -170px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move27{
	0%{
		transform: translate(250px, -300px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move28{
	0%{
		transform: translate(-300px, -210px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move29{
	0%{
		transform: translate(200px, -230px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move30{
	0%{
		transform: translate(150px, 280px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move31{
	0%{
		transform: translate(600px, -330px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move32{
	0%{
		transform: translate(-550px, -310px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move33{
	0%{
		transform: translate(-250px, -300px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move34{
	0%{
		transform: translate(700px, 180px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move35{
	0%{
		transform: translate(30px, -350px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move36{
	0%{
		transform: translate(300px, -350px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move37{
	0%{
		transform: translate(470px, -360px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move38{
	0%{
		transform: translate(-500px, 230px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move39{
	0%{
		transform: translate(-720px, -120px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move40{
	0%{
		transform: translate(-500px, -400px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move41{
	0%{
		transform: translate(900px, 180px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move42{
	0%{
		transform: translate(700px, -50px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move43{
	0%{
		transform: translate(500px, -230px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move44{
	0%{
		transform: translate(50px, 200px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move45{
	0%{
		transform: translate(-900px, -200px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move46{
	0%{
		transform: translate(900px, -200px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move47{
	0%{
		transform: translate(700px, 50px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move48{
	0%{
		transform: translate(600px, -300px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move49{
	0%{
		transform: translate(-400px, -400px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move50{
	0%{
		transform: translate(-150px, -460px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move51{
	0%{
		transform: translate(-150px, -460px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move52{
	0%{
		transform: translate(700px, -460px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move53{
	0%{
		transform: translate(500px, 150px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move54{
	0%{
		transform: translate(-550px, 160px);
	}
	100%{
		transform: translate(0, 0);
	}
}
@keyframes move55{
	0%{
		transform: translate(-850px, -420px);
	}
	100%{
		transform: translate(0, 0);
	}
}